<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <title>Novidades | Blog DH</title>
</head>
<body>
        <header>
            <h1>DH NEWS</h1>
            <h3>Postado em: 08/07/2021</h3>
        </header>
    <main>
        <p>
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio consequuntur dolores impedit repellat quidem a itaque deserunt tempore incidunt repudiandae dolore dolor sapiente sit accusamus rerum, est sed eligendi earum!
        </p>

        <img src="img/destaque.webp" alt="Sala DH">
    <h2>
        Sit amet consectetur adipisicing elit
    </h2>
    <p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid rerum quaerat officia ratione sapiente eligendi modi odio et? Ducimus laudantium obcaecati minima omnis dolore ad vitae vel voluptas atque odio.
    </p>
    <section>
        <ol start = "1">
            <li>Lorem ipsum dolor</li>
            <li>Lorem ipsum dolor</li>
            <li>Lorem ipsum dolor</li>
        </ol>
    </section>
        <h2>
            Sit amet consectetur adipisicing
        </h2>
    </main>
